name: Auto Generate Image

on:
  schedule:
    - cron: "*/10 * * * *"   # 每 10 分鐘
  workflow_dispatch:

permissions:
  contents: write   # ⭐ 必開，不然一定 403

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: python run.py

      - name: Commit & push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add rainkineticphoto.png
          git commit -m "auto update image" || exit 0
          git push --force
